<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="main-logo">
            <img class="logo_img" src="../static/img/logo.PNG">
        </div>
        <div class="id-box">
            <p>아이디</p>
            <input type="text" placeholder="ID">
            <p>비밀번호</p>
            <input type="text" placeholder="PASSWORD">
        </div>
        <div class="btn">
            <button>로그인</button>
        </div>
        <div class="finder">
            아이디 찾기 | 비밀번호 찾기 | <a class="sign" href="sign_up.html">회원가입</a>
        </div>
        <div class="footer">
        <p>@2022 zzanggram</p>
        </div>
    </div>

</body>
</html>