<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<script>

    function login() {
        let id = $(`#id`).val()
        let pw = $(`#pw`).val();

        console.log(id, pw)

        $.ajax ({
            url: '/login',
            type: 'POST',
            data: {
                id_give : id,
                pw_give : pw
            },
            success: function (response){
                if(response['result']== 'success'){
                    $.cookie('token', response['token']);
                    alert('로그인 성공!')
                    window.location.href = '/'
                }
                else{
                    alert('로그인 실패')
                    window.location.href = '/login'
                }
            }


        })
    }
</script>
<body>
    <div class="main-wrapper">
        <div class="main-logo">
            <img class="logo_img" src="../static/img/logo.PNG">
        </div>
        <div class="id-box">
            <p>아이디</p>
            <input type="text" placeholder="ID" id="id">
            <p>비밀번호</p>
            <input type="password" placeholder="PASSWORD" id="pw">
        </div>
        <div class="btn">
            <button onclick="login()">로그인</button>
        </div>
        <div class="finder">
            아이디 찾기 | 비밀번호 찾기 | <a class="sign" href="/sign_up">회원가입</a>
        </div>
        <div class="footer">
        <p>@2022 zzanggram</p>
        </div>
    </div>

</body>
</html>