<!--main_page.html-->
<!--메인페이지 HTML-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/main_page.css">
</head>
<body>
<div class="main-wrapper">
    <div class="main-header">
        <img class="logo_img" src="../static/img/logo.PNG">
        <input type="text" placeholder="🔍 검색">
    </div>
    <div class="board">
        <div class="board-wrapper">
            <div class="board-header">
                <p>POST</p>
                <button onclick="location.href='upload.html'">글쓰기</button>
            </div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>