<!--main_page.html-->
<!--메인페이지 HTML-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/main_page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>

    function find_img() {
    let title = $('#find_title').val()
    document.getElementById('link').href = '/imgshow/'+title
  }

</script>
<body>
<div class="main-wrapper">
    <div class="main-header">
        <img class="logo_img" src="../static/img/logo.PNG">
        <input type="text" placeholder="🔍 검색">
    </div>
    <div class="board">
        <div class="board-wrapper">
            <div class="board-header">
                <p>POST</p>
                <button onclick = "location.href='upload'">글쓰기</button>
            </div>

            <input style="width:300px;" onchange="find_img()" type="text" id="find_title"
                   placeholder="볼 이미지의 제목을 입력해주세요">
            <a id='link' href="#">업로드 한 이미지 보기</a>

            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>