<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/showimg.css">
    <title>imgshow</title>
</head>
<body>
    <div class="main-wrapper">
    <div class="main-header">
        <a href="/main_page">
            <img class="logo_img" src="../static/img/logo.PNG"></a>
    </div>
    <div class="board">
        <div class="board-wrapper">
            <div class="board-header">
            </div>
                <img id="imgshape" src="/static/upload_img/{{ img_info.img }}">
        </div>
    </div>
</div>

</body>
</html>