<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/sign_up.css">
</head>
<body>
<div class="main-wrapper">
    <div class="main-logo">
        <a href="login.html"><img class="logo_img" src="../static/img/logo.PNG"></a>
    </div>
    <div class="id-box">
        <p>아이디</p>
        <input type="text" placeholder="ID">
        <p>비밀번호</p>
        <input type="text" placeholder="PASSWORD">
        <p>비밀번호 확인</p>
        <input type="text" placeholder="PASSWORD">
        <p>이름</p>
        <input type="text">
        <p>닉네임</p>
        <input type="text">
    </div>
    <div class="btn">
        <button>가입하기</button>
    </div>
    <div class="footer">
        <p>@2022 zzanggram</p>
    </div>
</body>
</html>